
<div class="container">
    <div class="level px-4 py-2">
        <button class="level-item has-text-centered button buttonBlue is-medium" id="show-edit-blog-form-button">Edit Your jBlog</button>
    </div>
    <form class="box is-rounded hide" id="show-edit-blog-form">
        <div class="field">
            <label class="label">Title</label>
            <div class="control">
                <input class="input" type="text" id="title-blog-edit" value="{{blogs.title}}" data-id="{{blogs.title}}">
            </div>
        </div>

        <div class="field">
            <label class="label">Content</label>
            <div class="control">
                <input class="input" type="text" id="content-blog-edit" value="{{blogs.content}}" data-id="{{blogs.content}}">
            </div>
        </div>

        <button class="button is-primary is-light" id="edit-blog-button" data-id="{{user_id}}">Change</button>
        <button class="button is-danger is-light" id="cancel-edit-blog-button">Cancel</button>
    </form>
</div>

<div class="container">
    <div class="level px-4 py-2">
        <button class="level-item has-text-centered button buttonBlue is-medium" id="show-blog-form-button">Add A New
            jBlog</button>
    </div>
    <form class="box is-rounded hide" id="show-blog-form">
        <div class="field">
            <label class="label">Title</label>
            <div class="control">
                <input class="input" type="text" id="title-blog-new" placeholder="e. g. What is on your mind?">
            </div>
        </div>

        <div class="field">
            <label class="label">Content</label>
            <div class="control">
                <input class="input" type="text" id="content-blog-new" placeholder="e.g. Say what is on your mind?">
            </div>
        </div>

        <button class="button is-primary is-light" id="add-blog-button" data-id="{{user_id}}">Post</button>
        <button class="button is-danger is-light" id="cancel-blog-button">Cancel</button>
    </form>
</div>


<div class="container">
    <div class="level px-4 py-2">
        <a href="/dashboard/{{user_id}}">Back to Dashboard</a>
    </div>
</div>

<script src="/js/blog.js"></script>
