<!--  Comments Page  -->

<div class="container">
    <div class="level px-4 py-2">
        <button class="level-item has-text-centered button buttonBlue is-medium" id="show-comment-form-button">Add A New
            Comment</button>
    </div>
    <form class="box is-rounded hide" id="show-comment-form">
        <div class="field">
            <label class="label">Comment</label>
            <div class="control">
                <input class="input" type="text" id="blog-comment-new" placeholder="e. g. What do you think?">
            </div>
        </div>

        <button class="button is-primary is-light" id="add-comment-button" data-id="{{blogs.id}}">Comment</button>
        <button class="button is-danger is-light" id="cancel-comment-button">Cancel</button>
    </form>
</div>

<!-- Homepage Part -->
<div class="container">
    <div class="box mx-4 my-2">
        <div class="box strongBlue has-background-grey-light px-4 py-2">
            <div class="level">
                <span class="level-left">
                    <p>{{blogs.title}}</p>
                </span>
                <span class="level-right">
                    Created by {{blogs.user.username}} on {{format_date blogs.date_created}}
                </span>
            </div>
        </div>
        <div class="box has-background-white-ter px-4 py-0">
            <div class="level subtitle is-6 px-2 py-2">
                <span class="level-left has-text-weight-bold">
                    {{blogs.content}}
                </span>
            </div>
        </div>
        {{#if blogs.comments}}
        {{#each blogs.comments as |comment| }}
        <div class="box px-4 py-0">
            <div class="level px-2 py-2">
                <span class="level-left">
                    {{comment.comment}}
                </span>
                <span class="level-right">
                    Created on {{format_date comment.date_created}}
                    <span class="level-right pl-4">
                        <button class="button is-small is-danger delete-comment-button" data-id="{{comment.id}}">Delete</button>
                    </span>
                </span>
            </div>
        </div>
        {{/each}}
        {{/if}}
    </div>
</div>


<!-- 
<div class="container">
    <div class="level px-4 py-2">
        <a href="/dashboard/" data-id="">Add New Comment</a>
    </div>
</div>
-->

<script src="/js/comment.js"></script>