<!-- Loop over each object in the blog array -->

{{#each blogs as |blog| }}
<div class="container">
    <div class="box mx-4 my-2">
        <div class="box strongBlue has-background-grey-light px-4 py-2">
            <div class="level">
                <span class="level-left">
                    <!-- <p>{{blog.title}}</p> -->
                    <a href="/comments/{{blog.id}}">{{blog.title}}</a>
                </span>
                <span class="level-right">
                    Created by {{blog.user.username}} on {{format_date blog.date_created}}
                </span>
            </div>
        </div>
        <div class="box has-background-white-ter px-4 py-0">
            <div class="level subtitle is-6 px-2 py-2">
                <span class="level-left">
                    {{blog.content}}
                </span>
            </div>
        </div>
        {{#if comments}}
        {{#each comments as |comment| }}
        <div class="box px-4 py-0">
            <div class="level px-2 py-2">
                <span class="level-left">
                    {{comment.comment}}
                </span>
                {{#if logged_in}}
                <span class="level-right">
                    <button class="button is-primary is-light" id="add-comment-button" data-id="{{user_id}}">Change</button>
                </span>
                {{/if}}
            </div>
        </div>
        {{/each}}
        {{/if}}
    </div>
</div>
{{/each}}

<script src="/js/home.js"></script>