<!-- Loop over each object in the blog array -->


{{#each blogs as |blog| }}
<div class="container">
    <div class="box mx-4 my-2">
        <div class="box strongBlue has-background-grey-light px-4 py-2">
            <div class="level">
                <span class="level-left">
                    <!-- <p>{{blog.title}}</p> -->
                    <a href="/dashboard/comments/{{blog.id}}">{{blog.title}}</a>
                </span>
                <span class="level-right">
                    Created by {{blog.user.username}} on {{format_date blog.date_created}}
                </span>
            </div>
        </div>
        <div class="box has-background-white-ter px-4 py-0">
            <div class="level subtitle is-6 px-2 py-2">
                <span class="level-left has-text-weight-bold">
                    {{blog.content}}
                </span>
            </div>
        </div>
        {{#if comments}}
        {{#each comments as |comment| }}
        <div class="box px-4 py-0">
            <div class="level px-2 py-2">
                <span class="level-left">
                    {{comment.comment}}
                </span>
                <span class="level-right">
                    Created on {{format_date comment.date_created}}
                </span>
            </div>
        </div>
        {{/each}}
        {{/if}}
    </div>
</div>
{{/each}}

<script src="/js/home.js"></script>